<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>YESS CONTA (SISTEMA CONTABLE)</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Aclonica&family=Acme&family=Balsamiq+Sans:ital@1&family=Bree+Serif&family=Hind+Guntur&family=IBM+Plex+Mono&family=Lora:ital@1&family=Merienda&family=Mulish&family=Noto+Sans+JP&family=Oleo+Script&family=Viga&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../Yess-Conta/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/keyframes.css">
	<link rel="stylesheet" href="../css/banner.css">
	<link rel="stylesheet" href="../css/estilos.css">
	<link rel="stylesheet" href="../css/conceptos.css">
	<script type="text/javascript" src="../Yess-Conta/js/jquery.min.js"></script>
	<script type="text/javascript" src="../Yess-Conta/js/bootstrap.min.js"></script>
</head>
<body>
	<header>
        <nav class="cont_navbar navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="../index.html">YESS CONTA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link dec" href="../Yess-Conta/index.html" style="color: white;">Iniciar Sesión</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="conceptosB.html">Conceptos Básicos</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="manuales.html">Manuales</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="conocenos.html">Acerca de<span class="sr-only">(current)</span></a>
      </li>
    </ul>
</nav>
    </header>
	<br><br>
<div class="col-md-12 titulo text-center">
	        <h1 style="font-size: 50px;">CONCEPTOS BÁSICOS DE CONTABILIDAD</h1>
        </div>
<section class="container">
	<br>
	<div class="row">
		
		<div class="col-md-12 text-justify">
			<div class="subtitulo text-center">
<!--
				<img src="../Yess-Conta/img/NuevoLogo.png" style="width: 450px; padding: 10px; text-align: center;">
				-->
				<hr>
			<h4>Contabilidad</h4>
		    </div>
			<P>Técnica por la cual se registran, clasifican y resumen las operaciones, transacciones y eventos económicos, naturales y de cualquier tipo, identificables y cuantificables que afectan a una entidad económica.</P>
			<div class="text-center">
			<img src="../img/Captura1.jpg" style="width: 500px; padding: 5px;">
		    </div>
		    <div class="pp text-center">
		    	<p>Información que debe comunicar la contabilidad financiera.</p>
		    </div>
		</div>
	</div>
    <div class="row">
		<div class="col-md-12 text-center">
			<div class="subtitulo">
				<hr>
			<h4>Estados financieros </h4>
			</div>
			<p>Instrumentos que comunican la información financiera de la entidad que es útil al usuario en su toma de decisiones.</p>
		    </div>
		</div>
    <div class="row">
		<div class="col-md-6 text-center">
			<div class="text-center">
			<img src="../img/Captura2.jpg" style="width: 400px; padding: 5px;">
			<div class="pp text-center">
		    	<p>Estados financieros para entidades lucrativas.</p>
		    </div>
		    </div>
		</div>
		<div class="col-md-6 text-center">
			<div class="text-center">
			<img src="../img/Captura3.jpg" style="width: 400px; padding: 5px;">
			<div class="pp text-center">
		    	<p>Estados financieros para entidades no lucrativas.</p>
		    </div>
		    </div>
		</div>
	</div>
	 <div class="row">
		<div class="col-md-12 text-center">
			<div class="subtitulo">
				<hr>
			<h4>Activo</h4>
			</div>
			<p>Los recursos que utiliza la entidad para lograr los fines para los que fue creada.</p>
		    </div>
		</div><br>
    <div class="row">
		<div class="col-md-6 text-center">
			<h5>Activo circulante</h5>
			<p class="text-justify">Los recursos que brindarán un beneficio económico futuro fundadamente esperado, ya sean por su venta, uso, consumo o servicios, en el plazo de un año o en el ciclo financiero a corto plazo, el que sea mayor.</p>
			<img src="../img/Captura4.jpg" style="width: 400px; padding: 5px;">
			<div class="pp">
		    	<p>Subclasificación del activo circulante.</p>
		    </div>
		</div>
		<div class="col-md-6 text-center">
		    <h5>Activo no circulante</h5>	
		    <p class="text-justify">Los recursos que brindarán un beneficio económico futuro fundadamente esperado por su uso, consumo o servicio en un periodo mayor a un año al ciclo financiero a corto plazo.</p>
			<img src="../img/Captura5.jpg" style="width: 400px; padding: 5px;">
			<div class="pp">
		    	<p>Subclasificación del activo no circulante.</p> 
		    </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-justify">
			<div class="subtitulo text-center">
				<hr>
			<h4>Pasivo</h4>
			</div>
			<p>Obligación presente de la entidad, ineludible, identificada, y cuantificada en términos monetarios, que representa una disminución futura de beneficios económicos por operaciones y otros eventos pasados que han afectado económicamente a la entidad.</p>
		    </div>
		</div><br>
    <div class="row">
		<div class="col-md-6 text-center">
			<h5>Pasivo a corto plazo</h5>
			<p class="text-justify">Aquel cuya exigencia se dará dentro del próximo año natural a partir de la fecha del balance general, o bien, dentro de un plazo no mayor al próximo ciclo normal de operaciones de la entidad.</p>
			<img src="../img/Captura6.jpg" style="width: 400px; padding: 5px;">
			<div class="pp">
		    	<p>Pasivo a corto plazo.</p>
		    </div>
		</div>
		<div class="col-md-6 text-center">
		    <h5>Pasivo a largo plazo</h5>	
		    <p class="text-justify">Las deudas y obligaciones a cargo de una entidad económica cuyo vencimiento es en un plazo mayor de un año o al del ciclo financiero a corto plazo.</p>
			<img src="../img/Captura7.jpg" style="width: 400px; padding: 5px;">
			<div class="pp">
		    	<p>Pasivo a largo plazo.</p> 
		    </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-justify">
			<div class="subtitulo text-center">
				<hr>
			<h4>Capital contable</h4>
		    </div>
			<P>Recursos de que dispone una entidad para realizar sus fines, aportados por sus fuentes internas (dueños, propietarios, socios o accionistas, etc.), por lo cual debe retribuir a sus propietarios un pago en efectivo, bienes, derechos, etc., mediante reembolso o distribución por el pago de dividendos.</P>
			<div class="text-center">
			<img src="../img/Captura8.jpg" style="width: 500px; padding: 5px;">
		    </div>
		    <div class="pp text-center">
		    	<p>Clasificación del capital contable.</p>
		    </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="subtitulo text-center">
				<hr>
			<h4>Balance general</h4>
		    </div>
		</div>
		<div class="col-md-6 text-justify">
			<br>
			<P>Es un estado financiero devengo-realizado que muestra los recursos de que dispone la entidad para la realización de sus fines (activo) y las fuentes externas e internas de dichos recursos (pasivo más capital contable), a una fecha determinada. De su análisis e interpretación podemos conocer, entre otros aspectos, la situación financiera y económica, la liquidez y la rentabilidad de una entidad.</P>
		</div>
		<div class="col-md-6 text-center">
			<div class="text-center">
			<img src="../img/Captura9.jpg" style="width: 200px; padding: 5px;">
		    </div>
		    <div class="pp text-center">
		    	<p>La palabra “balance” representa la igualdad entre dos cosas o grupos de ellas.</p>
		    </div>
		</div>		
	</div>
	<div class="row">
		<div class="col-md-12 text-justify">
			<div class="subtitulo text-center">
				<hr>
			<h4>Estado de resultados </h4>
			</div>
			<p>Es un estado financiero que muestra los ingresos, identificados con sus costos y gastos correspondientes y, como resultado de tal enfrentamiento, la utilidad o pérdida neta del periodo contable.</p>
		    </div>
		</div><br>
    <div class="row">
		<div class="col-md-9 text-center">
			<div class="subtitulo text-center">
			<h4>Esquema de mayor</h4>
			</div>
			<p>Representación gráfica de un libro contable en forma de T.</p>
			<img src="../img/Captura10.jpg" style="width: 600px; padding: 5px;">
		</div>
		<div class="col-md-3 text-center">
		    <div class="subtitulo text-center">
			<h4>Libro mayor </h4>
			</div>	
		    <p class="text-justify">Libro que agrupa las cuentas de la contabilidad de una empresa.</p>
		</div>
	</div>
<br><hr>
	<div class="row">
		<div class="col-md-6 text-justify">
			<br>
			<h5>Bibliográfia</h5>
			<p>- Romero, A.j. (2010). Principios de contabilidad. México D.F. México:MC Graw Hill.</p>
		</div>
		<div class="col-md-6 text-center">
			<img src="../img/libro.jpg" style="width: 200px; padding: 5px;">
		</div>
	</div>
	<br><br>
	</section>

</body>
</html>
