<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>YESS CONTA (SISTEMA CONTABLE)</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Aclonica&family=Acme&family=Balsamiq+Sans:ital@1&family=Bree+Serif&family=Hind+Guntur&family=IBM+Plex+Mono&family=Lora:ital@1&family=Merienda&family=Mulish&family=Noto+Sans+JP&family=Oleo+Script&family=Viga&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../Yess-Conta/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/keyframes.css">
	<link rel="stylesheet" href="../css/banner.css">
	<link rel="stylesheet" href="../css/estilos.css">
	<link rel="stylesheet" href="../css/conocenos.css">
	<script type="text/javascript" src="../Yess-Conta/js/jquery.min.js"></script>
	<script type="text/javascript" src="../Yess-Conta/js/bootstrap.min.js"></script>
</head>
<body>
	<header>
        <nav class="cont_navbar navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="../index.html">YESS CONTA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link dec" href="../Yess-Conta/index.html" style="color: white;">Iniciar Sesión</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="conceptosB.html">Conceptos Básicos</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="manuales.html">Manuales</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="conocenos.html">Acerca de<span class="sr-only">(current)</span></a>
      </li>
    </ul>
</nav>
    </header>
	<br><br>
<div>
	<h1 class="titulo text-center">YESS CONTA</h1>
</div>	
<section class="container" style="padding-left: 50px; padding-right: 50px;">
	<br>
	<div class="row">
		<div class="col-md-12 text-justify">
			<P>El presente proyecto surge de la importancia de impulsar, dentro del sistema educativo a nivel superior, el desarrollo de las habilidades y destrezas que se obtienen a través de la enseñanza teorico-práctica en materias financieras, buscando con ello incremetar las competencias y atributos de los egresados de nivel superior para su incoroporación al sector laboral.</P>
		</div>
	</div>
	<div class="row" style="padding: 30px;">
		<div class="col-md-4 text-justify" style="padding-left: 25px; padding-right: 25px;">
            <h5>Objetivo</h5>
            <p>Adicionar al conocimiento las herramientas prácticas financieras para que en un ambiente dual los alumnos aprendan:</p>
           <ul class="a">
           	<li>Contabilidad.</li>
           	<li>Costos.</li>
           	<li>Planes de negocio para potenciar las competencias.</li>
           	<li>Atributos de egreso.</li>
           </ul>
		</div>
		<div class="col-md-4 text-center">
			<img src="../Yess-Conta/img/NuevoLogo3.png" style="width: 250px; padding: 10px; text-align: center;">
		</div>
		<div class="col-md-4 text-justify" style="padding-left: 25px; padding-right: 25px;">
			<h5>Metodología</h5>
            <ol>
           	<li>Diseño y aplicación del instrumento para detectar las necesidades de uso de software.</li>
           	<li>Analizar los resultados del instrumento aplicado con la finalidad de acortar los elementos indispensables para el diseño de software.</li>
           	<li>Elaboración del software.</li>
           </ol>
		</div>
	</div>
</section>
<div>
	<h1 class="titulo text-center">CONOCENOS</h1>
</div>
<section class="container" style="padding-left: 80px; padding-right: 80px;">
	<div class="row">
		<div class="subtitulo col-md-12 text-center">
			<h3>Estudiantes</h3>
		</div>
	</div>
    <div class="row">
      <div class="col-md-3">       
            <div class="bloque text-center">
            	<img class="people_image" src="../img/perfil_1.jpg">
            </div>
        </div>
        <div class="col-md-9 text-justify">                 
            	<h5>Ricardo Martínez Hernández</h5>
            	<p>Estudiante de Ingeniería en sistemas computacionales del ITSLibres, persona comprometida, proactiva y muy perseverante, desempeño en este proyecto “Yess-Conta, el cargo de responsable operativo atendiendo las funciones de coordinar, dirigir y asignar las tareas de cada miembro del equipo, así como actividades de desarrollador del proyecto.</p>
        </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-3">       
            <div class="bloque text-center">
            	<img class="people_image" src="../img/perfil_2.jpg">
            </div>
        </div>
        <div class="col-md-9 text-justify">                 
            	<h5>Jorge Romero López</h5>
            	<p>Estudiante de Ingeniería en sistemas computacionales del ITSLibres. persona responsable, colaborativa y analista, siempre busca la respuesta a los problemas que enfrenta, desempeñó en este proyecto “Yess-Conta”; el cargo de programador de las funcionalidades del sistema, comprobación de prueba y corrección de errores generales de la aplicación y apoyo en el diseño del modelo y bases de datos. </p>
        </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-3">       
            <div class="bloque text-center">
            	<img class="people_image" src="../img/perfil_3.jpg">
            </div>
        </div>
        <div class="col-md-9 text-justify">                 
            	<h5>Lizbeth Palma Vázquez</h5>
            	<p>Estudiante de la Ingeniería en Gestión Empresarial del ITSLibres, persona responsable, puntual, proactiva, profesional, con facilidad de adaptación y capacidad de trabajar en equipo, en el proyecto se desempeñó como soporte teórico y práctico del tema de contabilidad financiera.</p>
        </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-3">       
            <div class="bloque text-center">
            	<img class="people_image" src="../img/perfil_4.jpg">
            </div>
        </div>
        <div class="col-md-9 text-justify">                 
            	<h5>Miguel Martínez Fernández</h5>
            	<p>Estudiante de la Ingeniería en Sistemas Computacionales del ITSLibres, persona responsable, creativa y con ganas de aprender algo nuevo cada día, teniendo como responsabilidad la creación e implementación del diseño para cada sección del proyecto y el logotipo oficial, siempre con el objetivo de crear algo único y llamativo.</p>
        </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-3">       
            <div class="bloque text-center">
            	<img class="people_image" src="../img/perfil_5.jpg">
            </div>
        </div>
        <div class="col-md-9 text-justify">                 
            	<h5>José Miguel Quiroz Guzmán</h5>
            	<p>Estudiante de la carrera de Ingeniería en Sistemas Computacionales del ITSLibres. persona responsable con muchas ganas de trabajar y aprender, con facilidad de palabra, amigable y bueno con los demás, trabajó en el diseño del modelado de datos e inserción y asociación de las tablas y lo más importante, trabajando en equipo para lograr el éxito del proyecto. </p>
        </div>
    </div>
    <hr>
    <div class="row">
		<div class="subtitulo col-md-12 text-center">
			<h3>Asesores</h3>
		</div>
	</div>
	<div class="row">
      <div class="col-md-3">       
            <div class="bloque text-center">
            	<img class="people_image" src="../img/perfil_6.jpg">
            </div>
        </div>
        <div class="col-md-9 text-justify">                 
            	<h5>Sagrario Alejandre Apolinar</h5>
            	<p>Responsable del Proyecto, Lic. en Contaduría Pública, Maestra en Ciencias con especialidad en Administración por la Universidad Vonn Humboldt, Maestría en ciencias con especialidad en finanzas por la Universidad La Salle. Líder de iniciativa en equipos de trabajo, instructora en capacitación para el trabajo certificada ante la STPSY y CONOCER, docente e investigadora integrante de Cuerpo Académico del ITSLibres. Especialista en seguridad, grupos de género y cultura laboral, Auditora interna para los sistemas de gestión. </p>
        </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-3">       
            <div class="bloque text-center">
            	<img class="people_image" src="../img/perfil_7.jpg">
            </div>
        </div>
        <div class="col-md-9 text-justify">                 
            	<h5>Alejandro Guzmán Rodríguez</h5>
            	<p>Colaborador del Proyecto, Ingeniero en Sistemas Computacionales, egresado del Instituto Tecnológico Superior de Libres, docente e investigador del ITSLibres, especialista en desarrollo de software basado en HTML 5, CSS, Java Script, AJAX, JSON, lenguaje de programación en JAVA, PHP, MySQL, AngularJS, Apache Cordova, jQuery, Bootstrap, Typescript, C#, Flutter y Kotlin Certificaciones en Scrum Fundation Professional y Oracle Database SQL. Instructor del Diplomado de Cómputo Aplicado.</p>
        </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-3">       
            <div class="bloque text-center">
            	<img class="people_image" src="../img/perfil_8.jpg">
            </div>
        </div>
        <div class="col-md-9 text-justify">                 
            	<h5>Susana Bonilla Reyes</h5>
            	<p>Colaboradora del Proyecto, Ingeniera en Sistemas Computacionales, egresada del Instituto Tecnológico Superior de Libres, docente e investigadora del ITSLibres, con maestría en Tecnología Educativa por la Universidad Popular Autónoma del Estado de Puebla UPAEP, especialista en gestión de proyectos de software, Diplomados en cómputo embebido y en formación docente, asesora en proyectos, colaboradora en congresos regionales de la carrera de ISC.</p>
        </div>
    </div>
    <hr>
</section><br>

<div>
	<h1 class="titulo text-center">Tecnológico Nacional de México Campus Libres</h1>
</div>	
<section class="container" style="padding-left: 50px; padding-right: 50px;">
	<br>
	<div class="row">
			<div class="col-md-3 text-center vl" style="padding: 20px;">
				<h6 class="text-justify">Este proyecto se llevó a cabo por alumnos del TecNM Campus Libres, con la colaboración de las carreras de Ingeniería en Sistemas Computacionales y Ingeniería en Gestión Empresarial.</h6>
				<br>
				<h6>TecNM Campus Libres</h6>
				<a href="https://www.itslibres.edu.mx/"><img class="logo_image" src="../img/itsl.jpg"></a>
				<hr>
				<h6>ISC</h6>
				<a href="https://www.itslibres.edu.mx/Ingenierias/ISC.php"><img class="logo_image" src="../img/isc.png"></a>
				<hr>
			    <h6>IGE</h6>
				<a href="https://www.itslibres.edu.mx/Ingenierias/IGE.php"><img class="logo_image" src="../img/logoIGE.png"></a>
				<br><br>
			</div>
		<div class="col-md-9 text-justify" style="padding: 20px;">
			<p>El Instituto Tecnológico Superior de Libres pertenece al Tecnológico Nacional de México (TecNM), el cual está constituido por 266 instituciones, de las cuales 126 son Institutos Tecnológicos Federales. 134 Institutos Tecnológicos Descentralizados, 14 de estos ubicados en el Estado de Puebla, 4 centros Regionales de Optimización y Desarrollo de Equipo, 1 Centro Nacional de Investigación y Desarrollo Tecnológico. En estas instituciones, el TecNM atiende a una población escolar de más de 581,000 estudiantes en licenciatura y posgrados en todo el territorio nacional.</p>
			<br>
			<div class="text-center">
			<img src="../img/img_itsl3.png" alt="img" width="600" height="350"><br><br>
			<div class="row">
				<div class="col-md-12 text-center">
				<h5>Misión</h5>
				<p>“Proporcionar servicios de educación tecnológica de tipo superior, para formar profesionistas competitivos, con actitudes emprendedora e innovadora, sentido humanístico; a través de un proceso integral de formación educativa, utilizando recursos pedagógicos y tecnológicos pertinentes, con el objetivo de contribuir en el desarrollo socioeconómico de la Región, del Estado y del País”.</p>
			    </div>
			    <div class="col-md-12 text-center">
				<h5>Visión</h5>
				<p>“Ser una institución educativa de alto desempeño, reconocida a nivel nacional e internacional, promotora del desarrollo regional respaldada por su Excelencia Académica, Tecnológica, Científica y Humanista.”</p>
			</div>
			</div>
			</div>
		</div>
		</div>
	</section>

</body>
</html>
